.jumbotron {
  width: 600px;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
h3 {
  margin-bottom: 30px;
  color: blue;
}
.table {
  margin-top: 20px;
}
.form-control {
  margin-bottom: 5px;
}
.selecionado {
  background-color: #6495ED;
}
.negrito {
  font-weight: bold;
}
hr {
  border-color: #999;
}
button{
  color: #FFFAFA;
  background-color: blue;
}
